body {
  
  text-align: center;
}

#navigation{
  width: 100%;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
}

.ms-auto {
  margin-left: auto!important;
}

.me-lg-5 {
  margin-right: 3rem!important;
}

#principal{
  background-image: url("imagenes/fondo.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 7.5vh;
  text-shadow: 2px 4px 8px #000;
}
#proyectos{
  background-color: cyan;
  text-align: justify;
  font-size: 20px;
  
}

#Learning {
  width: 100%;
  height: 100%;
  background-image: url(imagenes/curvas.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
}



