body {margin: 0;
    background-color: white;  
    background-repeat: no-repeat;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#principal{
  background-image: url("imagenes/fondo.jpg");
  background-size: 35%;
    background-color: rgb(50, 248, 255);
    text-align: center;
    width: 100%;
}

#proyectos{
  background-color: cyan;
  text-align: justify;
  font-size: 20px;
  
}

#sobremi{
    background-color: rgb(84, 161, 250);
    text-align: center;
    font-size: 20px;
}

.texto{
  margin-left: 10px;
  margin-right: 20px;
}

#estudiante{
  width: 15%;
}

.iconod{
  font-size: 100px;
  height: 80px;
  margin-left: 35%;}

.icono{
    font-size: 100px;
    height: 80px;
}

.titulos{
    font-size: 50px;
    display: flex;
    justify-content: center;
    
}

#logproy{
    width: 10%;
    float: right;
    margin-top: -5%;
 }

#info{
    width: 7%;
    float: left;
    margin-top: -3%;
}

#contactos{
  
  background-color: rgb(27, 117, 219);
  margin-bottom: 10px;
 }

 .imgcontact{
  width: 10%;
 }

 #imagenes{
  display: flex;
  justify-content: space-around;
    
 }

 #imagen:hover{
  scale: 120%;
 }
 


 #imagen2:hover{
  scale: 120%;
 }


 #imagen3:hover{
  scale: 120%;
 }


footer{
  display: flex;
  justify-content: center;

}

